lightning
test_retrieval
.history
__pycache__/
mmtrans_src
selfmem_src
MNIST
transformers
.DS_Store
indexes
.log
FiD
notebooks/draft.ipynb
accelerate
outputs
lightning_logs
wandb
.vscode
data/LaMP_*
LaMo
multirun

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
